<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PowerMateDial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A63DC996182E128700298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DC9B7182E128700298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DC9D1182E12B600298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DC9EB182E12B600298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DCA02182E12CF00298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DCA1C182E12CF00298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DCA33182E12FF00298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63DCA4D182E12FF00298C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64659931830C99600634936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64659AD1830C99600634936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
